<% layout('/layouts/boilerplate') -%>

    <body>
        <br> 
        <div class="row">
            <div class="col-8 offset-2">
                <form method="post" action="/listings/create" class="needs-validation" novalidate>
                    <h2>create a new listing</h2>
                    <div>
                        <label for="title" class="form-label">title</label>
                        <input type="text" name="listing[title]" id="" class="form-control" required>
                    </div>
                    <div>
                        <label for="description" class="form-label">description</label>
                        <textarea name="listing[description]" id="" class="form-control" required></textarea>
                    </div>

                    <div>
                        <label for="image" class="form-label">image URl</label>
                        <input type="text" name="listing[image]" id="" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="price" class="form-label">price</label>
                            <input type="text" name="listing[price]" id="" class="form-control" type="number" required>
                            <div class="invalid-feedback">
                                Please provide a valid price.
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label for="location" class="form-label">location</label>
                            <input type="text" name="listing[location]" id="" class="form-control" required>
                        </div>
                    </div>
                    <div>
                        <label for="country" class="form-label">country</label>
                        <input type="text" name="listing[country]" id="" class="form-control" required>
                    </div>
                    <br>
                    <button class="btn btn-dark">Add</button>
                </form>
                <br>
            </div>
        </div>
    </body>